* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* Ensure body takes up full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    border: white 2px solid;
    font-size: 500%;
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: 5%;
}

.time-lives {
    display: flex;
    justify-content: center;
    margin-bottom: 30%;
}

.time-lives i {
    font-size: 80%;
}

.game-board {
    justify-content: center;
    margin-bottom: 30%;
    border: 1px solid;
    width: 20em;
    border: 0;
}

.active-game-easy {
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: repeat(2, 10rem);
    grid-gap: 2rem;
    perspective: 800px;
    height: 20em;
}

.active-game-hard {
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: repeat(2, 10rem);
    grid-gap: 2rem;
    perspective: 800px;
    height: 34em;
}

#rules {
    background-color: black;
    color: white;
    border: 2px solid white;
    text-align: center;
    font-size: 150%;
}

.card {
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
    width: 100%;
    height: 100%;
}

.face,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.face {
     border: 1px white solid;
}

.back {
    background-color: black;
    border: white 1px solid;
    backface-visibility: hidden;
}

.cardHard {
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
    width: 100%;
    height: 100%;
}

.faceHard,
.backHard {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.faceHard {
    border: 1px white solid;
}

.backHard {
    background-color: black;
    border: white 1px solid;
    backface-visibility: hidden;
}

.toggleCard {
    transform: rotateY(180deg);
}

.buttons {
    text-align: center;
}

.buttons button {
    color: white;
    padding: .5%;
    margin: 5%;
    font-size: 200%;
    background-color: black;
    border: white 2px solid;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 1600px) {
    h1 {
        font-size: 400%;
    }

    .time-lives {
        margin-bottom: 30%;
    }

    .time-lives p {
        font-size: 160%;
    }

    .game-board {
        margin-bottom: 30%;
    }

    .buttons button {
        font-size: 160%;
    }
}

@media screen and (max-width: 1400px) {
    .time-lives {
        margin-bottom: 10%;
    }

    .game-board {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 300%;
    }

    .time-lives p {
        font-size: 120%;
    }

    .buttons button {
        font-size: 120%;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 220%;
    }

    .time-lives p {
        font-size: 120%;
    }

    .buttons button {
        font-size: 120%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 10%;
    }

    .active-game-easy {
    grid-template-columns: repeat(2, 7rem);
    grid-template-rows: repeat(2, 7rem);
    height: 15em;
    }

    .active-game-hard {
    grid-template-columns: repeat(2, 7rem);
    grid-template-rows: repeat(3, 7rem);
    height: 25em;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5%;
        font-size: 200%;
    }

    .time-lives {
        margin-bottom: 20%;
    }

    .time-lives p {
        font-size: 100%;
    }

    .buttons button {
        font-size: 100%;
    }

    .game-board {
        margin-bottom: 15%;
    }
}